<!DOCTYPE html>
<html>
<head>
	<title>Mi Tienda en Línea</title>
	 <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
	<header>
		<nav>
			<ul>
                <li><a href="{{url_for('CatalogoUsuarios')}}">Catalogo</a></li>
				<li><a href="{{url_for('miCarrito')}}">Carrito</a></li>
                <li><a href="{{url_for('VerHistorial')}}">Historial de compras</a></li>
				<li><a href="{{url_for('perfil')}}">Perfil</a></li>
				<li class="right"><a href="{{url_for('logout')}}">Cerrar Sesión</a></li>
			</ul>
		</nav>
	</header>

	<main>
    <h1>Producto Disponibles</h1>
    <div class="catalog">
    {% for producto in producto %}
    <div class="product">

        <img src="/{{ producto['RutaImagen'] }}" alt="imagen">

        <h3>{{ producto['nombre_producto'] }}</h3>

        <p>{{ producto['descripcion'] }}</p>

        <span>${{ producto['precio'] }}</span>

        <br>
        <br>

        <button onclick="window.location.href='{{ url_for('agregar_carrito', id_producto=producto['id_producto']) }}'">
    Agregar al carrito
</button>

    </div>
{% endfor %}
  </div>
  </main>

	<footer>
		<p>Derechos Reservados &copy;  ShopEase 2023</p>
	</footer>
</body>
</html>



