<!DOCTYPE html>
<html>
<head>
    <title>Mi Tienda en Línea</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>

<header>
    <nav>
        <ul>
            <li>
                <a href="{{url_for('consultasClientes')}}">Regresar</a>
            </li>
        </ul>
    </nav>
</header>

<main>

<h1>Editar información del cliente</h1>

<form method="POST">

    {{forma.csrf_token}}

    <p>
        {{forma.nombre.label}}
        {{forma.nombre(size=30)}}
    </p>

    <p>
        {{forma.numero_telefono.label}}
        {{forma.numero_telefono(size=30)}}
    </p>

    <p>
        {{forma.correo.label}}
        {{forma.correo(size=30)}}
    </p>

    <p>
        {{forma.contraseña.label}}
        {{forma.contraseña(size=30)}}
    </p>

    <p>
        {{forma.enviar()}}
    </p>

</form>

</main>

<footer>
    <p>Derechos Reservados &copy; ShopEase 2023</p>
</footer>

</body>
</html>