<!DOCTYPE html>
<html>
<head>
	<title>Mi Tienda en Línea</title>
	 <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="{{url_for('inicio')}}">Home</a></li>
				<li><a href="{{url_for('Catalogo')}}">Catalogo</a></li>
				<li><a href="{{url_for('login')}}">Iniciar sesión</a></li>
				<li><a href="{{url_for('agregarCliente')}}">Registrarse</a></li>
                <li><a href="{{url_for('AdminLogin')}}">Admin</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<h1>Tienda en linea</h1>
		<p>Descubre un mundo de compras en nuestra página principal. Sumérgete en una experiencia única donde encontrarás una amplia gama de productos de calidad y las últimas tendencias.Tenemos todo lo que necesitas al alcance de tu mano.</p>
	</main>

	<footer>
		<p>Derechos Reservados &copy;  ShopEase 2023</p>
	</footer>
</body>
</html>
